.entry-title {
	font-family: 'ZCOOL XiaoWei','Ubuntu'，sans-seri;
}
* {
	font-family: 'Noto Sans SC','Ubuntu',sans-ser;
}
html,body {
	font-family: 'Noto Sans SC','Ubuntu',sans-serif	
}

/*
Google Fonts
font-family: 'Noto Sans SC', sans-serif;  思源黑体
font-family: 'Noto Serif SC', serif;  思源宋体
font-family: 'Ubuntu', sans-serif;  Ubuntu英文字体
font-family: 'ZCOOL XiaoWei', serif;  站酷小薇
font-family: 'Zhi Mang Xing', cursive;  手写毛笔字体
*/
